body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../Fotos/bg-repeat.jpg");
    background-repeat: repeat;
    background-size: contain;
    height: 100vh;
    font-family: 'roboto', sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}


.conteudo {
    gap: 35px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 287px;
    height: 46px;
}

#inputs {
    display: flex;
    align-items: baseline;
    flex-direction: column;
    gap: 15px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: #f9f9f9;
    width: 60vh;
    height: 70vh;
    margin: 45px;
}

input,
#textaria {
    font-family: 'roboto', sans-serif;
    width: 40vh;
    height: 50px;
    padding: 6px;
    border-radius: 5px;
    border: 2px solid #ccc;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    outline: none;
}

#formulario #textaria {
    height: 15vh;
    border-radius: 5px;
    resize: none;
    transition: border-color 0.3s ease;
}

#formulario #textaria:focus {
    outline: none;
}


.botao {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}

button:hover {
    background-color: #2e9e6a;
}

button {
    color: #f5f5f5;
    background-color: #3CCC87;
    width: 40vh;
    height: 42px;
    left: 19px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
}


.mensagem-status {
    margin-top: -30px;
    margin-bottom: 10px;
}

h1 {
    margin: -10px;
    font-size: 20px;
}

p {
    margin: -10px;
    font-size: 15px;
}


input.valid,
#textaria.valid {
    border-color: green;
}

input.invalid,
#textaria.invalid {
    border-color: red;
}